Infoport.GesportPCS.Api/Xsd/BERMAN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by aurora (prode) -->
<!--W3C Schema generated by XMLSPY v5  U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
	<xs:include schemaLocation="VPDED96Bv10.xsd"/>
	<xs:element name="BERMAN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InterchangeHeader"/>
				<xs:element ref="MessageHeader"/>
				<xs:element ref="BeginningOfMessage"/>
				<xs:element ref="DateTimePeriod" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="FreeText" minOccurs="0" maxOccurs="11"/>
				<xs:element ref="Reference" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="SpecifyQuantity" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="NameAndAddressGroup" maxOccurs="9"/>
				<xs:element ref="TransportInformationGroup"/>
				<xs:element ref="TransportServiceRequirementsGroup" minOccurs="0" maxOccurs="99"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NameAndAddressGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NameAndAddress"/>
				<xs:element ref="ContactInformationGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactInformationGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContactInformation" minOccurs="0"/>
				<xs:element ref="CommunicationContact" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransportInformationGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransportInformation"/>
				<xs:element ref="Reference" minOccurs="0" maxOccurs="99"/>
				<xs:element ref="DateTimePeriod" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="Measurements" minOccurs="0" maxOccurs="99"/>
				<xs:element ref="FreeText" minOccurs="0" maxOccurs="99"/>
				<xs:element ref="PlaceLocationIdentificationGroup" minOccurs="0" maxOccurs="999"/>
				<xs:element ref="GovernalRequirementsGroup" minOccurs="0" maxOccurs="999"/>
				<xs:element ref="DocumentMessageDetailGroup" minOccurs="0" maxOccurs="9"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceLocationIdentificationGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PlaceLocationIdentification"/>
				<xs:element ref="DateTimePeriod" minOccurs="0" maxOccurs="9"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GovernalRequirementsGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GovernmentalRequirements"/>
				<xs:element ref="Reference" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="NameAndAddress" minOccurs="0" maxOccurs="99"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentMessageDetailGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentMessageDetail"/>
				<xs:element ref="DateTimePeriod" minOccurs="0" maxOccurs="9"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransportServiceRequirementsGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransportServiceRequirements"/>
				<xs:element ref="FreeText" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="PlaceLocationIdentificationGroup2" minOccurs="0" maxOccurs="10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceLocationIdentificationGroup2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PlaceLocationIdentification"/>
				<xs:element ref="Measurements" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="DateTimePeriod" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="PurposeOfConveyanceCall" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="FreeText" minOccurs="0" maxOccurs="99"/>
				<xs:element ref="HandlingInstructionsDetailsGroup" minOccurs="0" maxOccurs="9"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HandlingInstructionsDetailsGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HandlingInstructions"/>
				<xs:element ref="NameAndAddress" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="NatureOfCargoGroup" minOccurs="0" maxOccurs="9"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NatureOfCargoGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NatureOfCargo"/>
				<xs:element ref="FreeText" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="Measurements" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="NumberOfUnits" minOccurs="0" maxOccurs="9"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
